<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Add a joke</h1>
    <div>
        <form action="{% url 'jokesapp:post_create' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="category">Category</label>
                <select name="category" id="category">
                    {% for cat in categories %}
                        <option value={{cat.id}}>{{cat.libelle}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="question">Question : </label>
                <input type="text" name="question" id="question">
            </div>
            <div>
                <label for="answer">Answer : </label>
                <input type="text" name="answer" id="answer">
            </div>
            <div>
                <input type="submit" value="Save">
            </div>
        </form>
        <a href="{% url 'jokesapp:Index' %}">Go home</a>
    </div>
    
</body>
</html>