<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'jokesapp/index.css' %}" />
    <title>Document</title>
</head>
<body>
    
    <!-- header -->
    <div style="display: flex;justify-content: space-between;align-items: center;border-bottom:solid;margin:15px;">
        <h1>Lists of jokes</h1>
        <form method="get" action="{% url 'jokesapp:search_joke' %}">
            <div style="display:flex;flex-direction: column;">
                <label for="word">Search by joke :</label>
                <input 
                    style="height: 40px;border-radius: 3px;border: solid .5px;outline: none;"
                    type="search" name="word" id="word" placeholder="Search a joke..."
                >
            </div>
        </form>
    </div>
    
    <div style="display: flex; gap:100px;justify-content: center; margin:20px;">
        <a class="link" href="{% url 'jokesapp:categories' %}">Lists of Categories</a>
        <a class="link" href="{% url 'jokesapp:create' %}">Add a joke</a>
        <a class="link" href="{% url 'jokesapp:joke_deleted' %}">Jokes in corbeille</a>
    </div>
    <div class="container">
        <div class="row g-2" >
            {% for joke in jokes %}
                <div class="col-4 border border-dark flex d-flex flex-column align-items-center">
                    {{joke.question}}
                    - {{joke.category}} 
                    <!-- links -->
                    <div> <a href="{% url 'jokesapp:update' joke.id %}">Update</a> - <a href="{% url 'jokesapp:remove_joke' joke.id %}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>