<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Lists of jokes</h1>
    <a href="{% url 'jokesapp:categories' %}">Categories</a>
    <div>
        <a href="{% url 'jokesapp:create' %}">Add a joke</a>
        <a href="{% url 'jokesapp:joke_deleted' %}">Jokes in corbeille</a>
    </div>
    <div>
        <ul>
            {% for joke in jokes %}
                <li>
                    {{joke.question}}
                    ({{joke.category}}) - <a href="{% url 'jokesapp:update' joke.id %}">Update</a> - <a href="{% url 'jokesapp:remove_joke' joke.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>