<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Add a joke</h1>
    <div>
        <form action="{% url 'jokesapp:post_update' joke.id %}" method="post">
            {% csrf_token %}
            <div>
                <label for="category">Category</label>
                <select name="category" id="category">
                    {% for cat in categories %}
                        {% if cat.id == joke.category.id %}
                            <option valuwe="{{joke.category.id}}" selected>{{cat.libelle}}</option>
                        {% else %}
                            <option value="{{joke.category.id}}">{{cat.libelle}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="question">Question : </label>
                <input type="text" name="question" id="question" value="{{joke.question}}">
            </div>
            <div>
                <label for="answer">Answer : </label>
                <input type="text" name="answer" id="answer" value="{{joke.answer}}">
            </div>
            <div>
                <input type="submit" value="Update">
            </div>
        </form>
        <a href="{% url 'jokesapp:Index' %}">Go home</a>
    </div>
    
</body>
</html>